parameters:
    environment:               dev
    database_name:             wp_test
    database_user:             root
    database_password:         ~
    database_host:             localhost
    database_prefix:           nrdwp_
    database_character_set:    utf8
    database_collation:        ~
    content_directory:         wp-content
    wordpress_directory:       wp
    wordpress_locale:          en_US
    wordpress_site_url:        http://localhost
